# ============================================================
# APPLICATION
# ============================================================

APPLICATION_NAME=
PORT=

# ============================================================
# DATABASE
# ============================================================

DATABASE_URL=
SHADOW_DATABASE_URL=

# ============================================================
# KEYCLOAK
# ============================================================

KC_PORT=
KC_BASE_URL=
KC_REALM=

KEYCLOAK_SERVICE_CLIENT_ID=
KEYCLOAK_SERVICE_CLIENT_SECRET=
