# ============================================================
# APPLICATION
# ============================================================

APPLICATION_NAME=
PORT=

# ============================================================
# DATABASE
# ============================================================

DATABASE_URL=
SHADOW_DATABASE_URL=

# ============================================================
# KEYCLOAK
# ============================================================

KC_PORT=
KC_BASE_URL=
KC_REALM=

KC_SERVICE_CLIENT_ID=
KC_SERVICE_CLIENT_SECRET=

# ============================================================
# KEYCLOAK APPLICATION CLIENTS
# ============================================================

KC_API_CLIENT_ID=
KC_APP_CLIENT_ID=
KC_API_AUDIENCE=

KC_APP_WEB_REDIRECT_URI=
KC_APP_WEB_ORIGIN=

KC_APP_MOBILE_REDIRECT_URI=
