# ============================================================
# APPLICATION
# ============================================================

NODE_ENV=
PORT=

# ============================================================
# DATABASE
# ============================================================

DATABASE_URL=
SHADOW_DATABASE_URL=
